{% extends "base.html" %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
    <h1>Dashboard</h1>
    {% with request.user.images_created_count as total_image_created %}
        <p>
            Welcome to your Dashboard. You have bookmarked {{ total_image_created }} image {{ total_image_created|pluralize }}.
        </p> 
    {% endwith %}
    <p>
        Drag the following buttom to your bookmarks toolbar to bookmark images from any website. → <a href="javascript:{% include "bookmarklet_launcher.js" %}" class="button">Bookmark it</a>
    </p>
    <p>
       You can <a href="{% url 'edit' %}">edit your profile</a> or <a href="{% url 'password_change' %}">change your password.</a>
    </p>
    <h2>What's happening?</h2>
    <div id="action-list">
        {% for action in actions %}
            {% include "actions/action/detail.html" %}
        {% empty %}
            <p>There are no actions to show.</p>
        {% endfor %}
    </div>
{% endblock content %}
